---
layout: default
---

<article<% if data.phase_number %> data-phase="<%= data.phase_number %>"<% end %><% if data.week %> data-week="<%= data.week %>"<% end %><% if data.day %> data-day="<%= data.day %>"<% end %><% if data.type %> data-type="<%= data.type %>"<% end %>>
  <h1><% if data.day %>Day <%= data.day %>: <%= data.title %><% elsif data.week && data.type == "discussion" %>Week <%= data.week %> Discussion Guide: <%= data.title %><% elsif data.week %>Week <%= data.week %>: <%= data.title %><% else %><%= data.title %><% end %></h1>

  <%= yield %>

  <% if data.week %>
  <%
    week = data.week.to_i
    week_fmt = "%02d" % week
    week_phases = site.data.week_phases.transform_keys(&:to_i)
    phase_dir = week_phases[week]
    week_base = "/#{phase_dir}/week-#{week_fmt}"
    current_path = resource.relative_url.to_s.chomp("/")
    prev_week = week > 1 ? week - 1 : nil
    next_week = week < 52 ? week + 1 : nil
    prev_phase = prev_week ? week_phases[prev_week] : nil
    next_phase = next_week ? week_phases[next_week] : nil
  %>
  <nav class="week-nav">
    <% if prev_week %>
      <a href="<%= relative_url "/#{prev_phase}/week-#{'%02d' % prev_week}/overview/" %>" class="week-nav-arrow">&larr; Week <%= prev_week %></a>
    <% else %>
      <span class="week-nav-arrow"></span>
    <% end %>
    <div class="week-nav-pages">
      <%
        pages = [
          ["Overview", "#{week_base}/overview/"],
          ["1", "#{week_base}/day-1/"],
          ["2", "#{week_base}/day-2/"],
          ["3", "#{week_base}/day-3/"],
          ["4", "#{week_base}/day-4/"],
          ["5", "#{week_base}/day-5/"],
          ["Discussion", "#{week_base}/discussion/"],
        ]
      %>
      <% pages.each do |label, path| %>
        <% is_current = current_path == path.chomp("/") %>
        <a href="<%= relative_url path %>" class="week-nav-page<%= ' current' if is_current %>"><%= label %></a>
      <% end %>
    </div>
    <% if next_week %>
      <a href="<%= relative_url "/#{next_phase}/week-#{'%02d' % next_week}/overview/" %>" class="week-nav-arrow">Week <%= next_week %> &rarr;</a>
    <% else %>
      <span class="week-nav-arrow"></span>
    <% end %>
  </nav>
  <% elsif data.phase_number == 7 %>
  <%
    p7_base = "/phase-7-jesus-from-genesis-to-revelation"
    p7_pages = [
      ["Overview",    "#{p7_base}/"],
      ["Creation",    "#{p7_base}/creation-covenant/"],
      ["Adam",        "#{p7_base}/adamic-covenant/"],
      ["Noah",        "#{p7_base}/noahic-covenant/"],
      ["Abraham",     "#{p7_base}/abrahamic-covenant/"],
      ["Moses",       "#{p7_base}/mosaic-covenant/"],
      ["David",       "#{p7_base}/davidic-covenant/"],
      ["New",         "#{p7_base}/new-covenant/"],
      ["Consummation","#{p7_base}/consummation/"],
    ]
    current_path = resource.relative_url.to_s.chomp("/")
  %>
  <nav class="week-nav">
    <span class="week-nav-arrow"></span>
    <div class="week-nav-pages">
      <% p7_pages.each do |label, path| %>
        <% is_current = current_path == path.chomp("/") %>
        <a href="<%= relative_url path %>" class="week-nav-page<%= ' current' if is_current %>"><%= label %></a>
      <% end %>
    </div>
    <span class="week-nav-arrow"></span>
  </nav>
  <% end %>

  <section class="page-discussions" data-feature="discussions">
    <h2>Discussion</h2>
    <p class="discussions-note">Comments are powered by GitHub Discussions. To post, sign in with your GitHub account using the link below the reaction icons.</p>
    <div class="giscus"></div>
  </section>
</article>
